<script>
function append_day_info_to_date_roller(date_info_lookup) {
  /* date_info_lookup should be like {'2020-05-20': 'Stuff about may 20th'} */
  var keys = Object.keys(date_info_lookup);
  for (var i = 0; i < keys.length; i++) {
    var key = keys[i];
    $('span[data-date-str=' + key + ']').text(date_info_lookup[key]);
  }
}
css('date_roller', 'date_roller.css');
</script>

<div class="when raised-rectangle">
  {% for day in days %}
    {% if day.is_current %}
      <div class="current">
        {{ day.text }} <span data-date-str="{{ day.date_str }}"></span>
      </div>
    {% else %}
      <div class="{{ day.css_class }}">
        <a href="{{ day.url }}">
          {{ day.text }}
          <span data-date-str="{{ day.date_str }}"></span>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
